<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--etiqueta <p></p> para escribir un párrafor-->
    <p>
        Esto es un parrafo

    </p>
    <!--etiqueta <span></span> para escribir un texto de una sola linea-->
    <span> Texto de una sola línea </span>

    <!-- etiquetas h para crear titulos-->
    <h1> Este es el titulo principal </h1>
    <h2> Este es un h2</h2>
    <h3> Este es un h3</h3>
    <h4> Este es un h3</h4>
    <h5> Este es un h3</h5>
    <h6> Este es un h3</h6>
    <!-- etiquetas input para ingresar información-->
    <label> 
        Ingrese su nombre 
        <input placeholder = "ingrese un texto" />
    </label>
    <input type = "number" />
    <input type = "date" />
    <input type = "file" />
    <input type = "email" />
    <input type = "password" />
    <input type = "radio" />
    <input type = "checkbox" />
    <button> Esto es un botón </button>

</body>
</html>